<h1>attractions/index</h1>

<%= @attractions.each do |attraction| %>
  <%= link_to "Go on #{attraction.name}", attraction %><br>
<% end %>

<%= link_to 'New Attraction', new_attraction_path if admin? %>
